<div class="jumbotron">
  <h2>Todo List! Free and Easry.</h2>
  <br />
  <h4>Trusted by millions. Todo List is the best online Task Management App!</h4>
  <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-danger" %>
</div>