<div class="col-md-10 col-md-offset-1">
  <h1><%= @item.title %></h1>
  <p><%= @item.description %></p>
  <%= link_to 'Edit', edit_item_path(@item) %>
  <%= link_to 'Delete', item_path(@item), method: :delete, data: { confirm: "Are you sure?" } %>
</div>