/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url(http://fonts.googleapis.com/css?family=Oswald:400,700|Merriweather:400,300);
@import "bootstrap-sprockets";
@import "bootstrap";


/* Mixins, variables, etc... */

@mixin nav_link_hover {
  transition: 0.4s;
  color: #f1f1f1;
  text-decoration: none;
}

/* Universal styles */

body {
  font-family: 'Lato', sans-serif;
  background-color: #f9e8d4;
}

a {
  color: darken(#e7e7e7, 70%);
}

.jumbotron {
  text-align: center;
}

/* Navbar and navigation styles */

.navbar {
  font-family: 'Lato', sans-serif;
}

.navbar-default {

  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #D9534F;

  .navbar-nav > li > a {
    color: #FFF;
    text-decoration: none;
    &:hover {
      text-decoration: none;
    }
  }

  .navbar-link {
    color: #FFF;
  }

  .navbar-brand {
    color: #FFF;
    letter-spacing: 1.25px;
    font-size: 2.1em;
  }

}

/* Item styles */

.item {
  border-bottom: 1px solid #e7e7e7;
  padding-bottom: 1.5em;
  .item-title {
    font-family: 'Lato', sans-serif;
    margin-top: 0;
  }
  .item-desc {
    font-size: 1em;
  }
  .time-ago {
    color: darken(#e7e7e7, 50%);
    font-size: 0.55em;
    letter-spacing: 1.25;
  }
  .item-sub-title {
    margin-bottom: 0;
  }
}

.item:nth-child(n+1) {
  padding-top: 1.5em;
}

.bottom_cta {
  text-align: center;
  padding: 7.5rem 0;
  h2 {
    color: #2B2E2E;
    font-size: 3rem;
    margin: 0;
  }
  p {
    font-size: 1.25rem;
    margin: 0 0 2.5rem 0;
    color: #a7a8a8;
  }
}

.testimonial {
  text-align: center;
  font-size: 1.5rem;
  color: #afb0b0;
  padding: 3.5rem 0;
  .quote {
    margin: 0 0 .5rem 0;
  }
  .name {
    color: #2B2E2E;
    margin: 0;
    font-size: .85rem;
  }
}



.footer {
  background: #2B2E2E;
  width: 100%;
  padding: 2rem 0;
  color: #FFF;
  text-align: center;
  p {
    margin: 0;
    font-size: .85rem;
  }
}

button, .button {
  border: none;
  outline: none;
  background: #D9534F;
  padding: 1rem 3.5rem;
  border-radius: 0.1rem;
  color: #FFF;

}
